/*barra de navegação */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('Truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(imagens/fundo2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif
}

.navbar {
    background-color: #1e293b;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.65;
}

.logo {
    color: rgb(251, 250, 250);
    font-size: 26px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: rgb(244, 246, 247);
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
    border-right: 1px solid #fafafa;
}

.links a:hover {
    color: #38bdf8;
}

.links a:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

/*banner principal */

.hero {
    width: 94%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-conteudo h1 {
    font-family: Comfortaa, sans-serif;
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 16px;
    text-shadow: 1px 1px 4px black;
}

.hero-conteudo p {
    font-family: Minecraft, sans-serif;
    font-size: 24px;
    color: rgba(233, 233, 233, 0.998);
    margin-bottom: 24px;
    text-shadow: 1px 1px 2px rgb(82, 81, 81);
}

button {
    padding: 20px 20px;
    border-radius: 30px;
    border: 2px solid rgb(147, 195, 129);
    background-color: #98c9a4;
    color: #313d3e;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    filter: drop-shadow(0px 0px 35px #94fbfb);
    background-color: #87ad97;
}

/* cards */

.cards {
    padding: 40px;
    margin-top: 100px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.card {
    flex: 0 0 5em;
    margin-top: 10px;
    min-width: 440px;
    min-height: 220px;
    padding: 20px;
    border-radius: 12px 25px;
    box-shadow: 10px 10px 5px rgb(104, 101, 101);
    box-shadow: inset 0px 0px 10px rgb(77, 77, 77);
    text-align: center;
    box-sizing: border-box;
    border: solid rgba(60, 48, 42, 0.773) 2px;
    position: relative;
}

.cards h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 60px;
    font-family: Comfortaa, sans-serif;
    color: #fdfdfb;
    text-shadow: 1px 1px 4px black;
    filter: drop-shadow(0px 0px 20px #ffffff);
    transition: filter 0.3s ease;
}

.card h3 {
    font-family: Comfortaa, sans-serif;
    font-size: 24px;
    margin: auto;
    color: #f6f8fa;
    text-shadow: 1px 1px 4px black;
    filter: drop-shadow(0px 0px 20px #ffffff);
    transition: filter 0.3s ease;
    margin-bottom: 8px;
    margin-top: 55px;
}

.descricao {
    font-family: Minecraft, sans-serif;
    font-size: 20px;
    color: #f1eeee;
    text-shadow: 1px 1px 4px black;
    filter: drop-shadow(0px 0px 20px #ffffff);
    transition: filter 0.3s ease;
}


.icone {
    font-size: 20px;
    margin-bottom: 12px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    object-fit: cover;
    border-top-left-radius: 1px;
    filter: drop-shadow(0px 0px 20px #ffffff);
    transition: filter 0.3s ease;
}

.card:hover {
    filter: drop-shadow(0px 0px 35px #ecefef);
}

.card-container .card:nth-child(1) {
    background-image: url(imagens/backrooms-trailer-desktop-7022c.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(2) {
    background-image: url(imagens/ilhadaxicra.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(3) {
    background-image: url(imagens/castelomario.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(4) {
    background-image: url(imagens/dirthmouth.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(5) {
    background-image: url(imagens/torres\ tortas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(6) {
    background-image: url(imagens/terraria.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(7) {
    background-image: url(imagens/undetale.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container .card:nth-child(8) {
    background-image: url(imagens/eldering.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Secao em Grade com CSS Grid */

.grade {
    padding: 40px;
    margin-top: 100px;
}

.grade-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.item {
    font-family: Minecraft, sans-serif;
    letter-spacing: 2px;
    min-height: 240px;
    min-width: 200px;
    border-radius: 10px;
    border: solid rgb(24, 23, 23) 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    font-size: 30px;
    color: rgb(233, 229, 229);
    text-shadow: 1px 1px 4px black;
    filter: drop-shadow(0px 0px 20px #1a1919);
    transition: filter 0.3s ease;
}

.item-destaque {
    display: grid;
    grid-column: span 2;
    font-family: Minecraft, sans-serif;
    letter-spacing: 2px;
    min-height: 240px;
    min-width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    font-size: 46px;
    color: rgb(249, 202, 73);
    text-shadow: 1px 1px 4px rgb(149, 123, 30);
    filter: drop-shadow(0px 0px 35px #c6c371);
    box-shadow: inset 0px 0px 35px rgb(190, 199, 65);
    background-image: url(imagens/parqueagradavel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-destaque:hover {
    filter: drop-shadow(0px 0px 35px #cdc612);
    box-shadow: inset 0px 0px 35px rgb(183, 194, 21);
}

.item:hover {
    filter: drop-shadow(0px 0px 35px #363635);
    box-shadow: inset 0px 0px 35px rgb(42, 42, 42);
}

.grade h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 60px;
    font-family: Comfortaa, sans-serif;
    color: #fdfdfb;
    text-shadow: 1px 1px 4px black;
}

.grade-container .item:nth-child(2) {
    background-image: url(imagens/poolrooms.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grade-container .item:nth-child(3) {
    background-image: url(imagens/ilhacassino.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grade-container .item:nth-child(4) {
    background-image: url(imagens/castelobowser.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grade-container .item:nth-child(5) {
    background-image: url(imagens/hell\ terraria.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grade-container .item:nth-child(6) {
    background-image: url(imagens/arenasans.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grade-container .item:nth-child(7) {
    background-image: url(imagens/grimm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */

.footer {
    margin-top: 100px;
    background-color: #1e293b;
    color: #ffffff;
    padding: 30px 20px;
    font-family: sans-serif;
    opacity: 0.65;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.footer-brand h2 {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(251, 250, 250);
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-nav a:hover {
    color: #38bdf8;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.footer-bottom {
    border-top: 1px solid #334155;
    margin-top: 25px;
    padding-top: 15px;
    text-align: left;
    font-size: 0.8rem;
    color: #94a3b8;
    margin-left: 335px;
    margin-right: 335px;
}

.footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}